.container {
  padding: 1rem 1rem;
  max-width: 232px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.imageContainer {
  overflow: hidden;
  position: relative;
  height: 128px;
  width: 128px;
  border-radius: var(--border-radius-xs);
}

.titleContainer {
  margin: 1rem 0;
}

.author {
  font-size: 0.875rem;
  font-style: italic;
}

.descriptionContainer {
  margin: 1rem 0 0;
}

.description {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  margin-top: 0.25rem;
}
